@model Mkhz.Models.ProductWithQuantity

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = ViewData["product"] as string;
}

<h1>حذف</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            المنتج
        </dt>
        <dd class = "col-sm-10">
            @product
        </dd>
        <dt class = "col-sm-2">
          الكمية
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            التاجر
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.inv
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-controller="Invoices" asp-action="Edit" asp-route-id="@Model.InvoiceId">تراجع</a>
    </form>
</div>
